<!doctype html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, minimal-ui">
		{{#if resume.basics.summary}}
			<meta name="description" content="{{{resume.basics.summary}}}">
		{{/if}}
		<title>{{#resume.basics}}{{name}}'s Resume{{/resume.basics}}</title>
		<link href="https://fonts.googleapis.com/css?family=Merriweather:400,300,700" rel="stylesheet" type="text/css">
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600" rel="stylesheet" type="text/css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
		<style>
			{{{standardCSS}}}
		</style>
	</head>
	<body>
		<article class="paper">
			{{#resume.basics}}

			<!-- NAME -->
			<header>
				<h2>{{name}}</h2>
				<p>{{label}}</p>
			</header>

			<!-- SUMMARY -->
			{{#if summary}}
				<section class="content">
					<div>
						<h3>About Me</h3>
					</div>
					<div>
						<p>
							{{summary}}
						</p>
					</div>
				</section>
			{{/if}}

			<!-- CONTACT -->
			<section class="content">
				<div>
					<h3>Contact</h3>
				</div>
				<div>
					<ul class="kvlist">
						{{#if email}}
							<li>
								<span>Email</span>
								<span><a href="mailto:{{email}}">{{email}}</a></span>
							</li>
						{{/if}}
						{{#if phone}}
							<li>
								<span>Phone</span>
								<span>{{phone}}</span>
							</li>
						{{/if}}
						{{#if url}}
							<li>
								<span>Website</span>
								<span><a href="{{url}}" rel="noopener">{{#no-http}}{{url}}{{/no-http}}</a></span>
							</li>
						{{/if}}
					</ul>
				</div>
			</section>

			<!-- LOCATION -->
			{{#location}}
			{{#if (or address city)}}
				<section class="content">
					<div>
						<h3>Location</h3>
					</div>
					<div>
						<ul class="kvlist">
							{{#if address}}
								<li>
									<span>Address</span>
									<span>{{address}}</span>
								</li>
							{{/if}}
							{{#if country}}
								<li>
									<span>Country</span>
									<span>{{country}}</span>
								</li>
							{{/if}}
							{{#if city}}
								<li>
									<span>City</span>
									<span>{{city}}</span>
								</li>
							{{/if}}
							{{#if region}}
								<li>
									<span>Region</span>
									<span>{{region}}</span>
								</li>
							{{/if}}
						</ul>
					</div>
				</section>
			{{/if}}
			{{/location}}

			{{/resume.basics}}

			<!-- LANGUAGE -->
			{{#if resume.languages.length}}
			<section class="content">
				<div>
					<h3>Languages</h3>
				</div>
				<div>
					<ul class="kvlist">
						{{#each resume.languages}}
						<li>
							<span>{{language}}</span>
							{{#if fluency}}
								<span>{{fluency}}</span>
							{{/if}}
						</li>
						{{/each}}
					</ul>
				</div>
			</section>
			{{/if}}

			{{#resume.basics}}

			<!-- PROFILES -->
			{{#if profiles.length}}
				<section class="content">
					<div>
						<h3>Profiles</h3>
					</div>
					<div>
						<ul class="kvlist">
							{{#each profiles}}
								{{#if network}}
									<li>
										<span>
											<a href="{{url}}" target="_blank" rel="noopener">
												<i class="fa fa-2x {{fontAwesome network}}"></i>
											</a>
										</span>
										<span>
											<a href="{{url}}" target="_blank" rel="noopener">
												<span>{{#no-http}}{{url}}{{/no-http}}</span>
											</a>
										</span>
									</li>
								{{/if}}
							{{/each}}
						</ul>
					</div>
				</section>
			{{/if}}

			{{/resume.basics}}

			<!-- WORK -->
			{{#if resume.work.length}}
				<section class="content">
					<div>
						<h3>Work Experience</h3>
					</div>
				</section>
				{{#each resume.work}}
				<section class="content">
					<div>
						{{#if startDate}}
							<p class="dates">
								<span>{{startDate}}</span>
								to
								<span>{{#if endDate}}{{endDate}}{{else}}Present{{/if}}</span>
							</p>
						{{/if}}
					</div>
					<div>
						{{#if (and company position)}}
							<p>
								{{# if _as }}
									{{#if website}}
										<strong>{{company}}</strong> as a <strong><a href="{{website}}" rel="noopener">{{position}}</a></strong>
									{{else}}
										<strong>{{company}}</strong> as a <strong>{{position}}</strong>
									{{/if}}
								{{else}}
									{{#if website}}
										<strong>{{position}}</strong> at <strong><a href="{{website}}" rel="noopener">{{company}}</a></strong>
									{{else}}
										<strong>{{position}}</strong> at <strong>{{company}}</strong>
									{{/if}}
								{{/if}}
							</p>
						{{/if}}

						{{#if summary}}
							<p>{{summary}}</p>
						{{/if}}

						{{#if highlights.length}}
							<ul>
								{{#each highlights}}
								<li>{{.}}</li>
								{{/each}}
							</ul>
						{{/if}}
					</div>
				</section>
				{{/each}}
			{{/if}}

			<!-- EDUCATION -->
			{{#if resume.education.length}}
				<section class="content">
					<div>
						<h3>Education</h3>
					</div>
				</section>
				{{#each resume.education}}
					<section class="content">
						<div>
							{{#if startDate}}
								<p class="dates">
									<span>{{startDate}}</span>
									to
									<span>{{#if endDate}}{{endDate}}{{else}}Present{{/if}}</span>
								</p>
							{{/if}}
						</div>
						<div>
							{{#if institution}}
								<p>{{institution}}</p>
							{{/if}}

							{{#if area}}
								<p>
									{{#if studyType}}{{studyType}}:&nbsp;{{/if}}
									<i>{{area}}</i>
								</p>
							{{/if}}

							{{#if courses}}
								<p>
									Courses:&nbsp;
									<i>{{#commalist courses}}{{.}}{{/commalist}}</i>
								</p>
							{{/if}}
						</div>
					</section>
				{{/each}}
			{{/if}}

			{{#if resume.awards.length}}
				{{#each resume.awards}}
					<section class="content">
						<div class="row">
							<div class="content-cat big-text">
								{{#if @first}}
									<h3>Awards</h3>
								{{/if}}

								{{#if title}}
									<p>{{title}}</p>
								{{/if}}

								{{#if date}}
									<p style="margin-top:0.25em;">{{date}}</p>
								{{/if}}

							</div>
							<div class="content-text work-listing">

								{{#if awarder}}
									<strong><p class="heading">{{awarder}}</p></strong>
								{{/if}}

								{{#if summary}}
									<p class="highlight">{{summary}}</p>
								{{/if}}
							</div>
						</div>
					</section>
				{{/each}}
			{{/if}}


			{{#if resume.opensource.length}}
				{{#each resume.opensource}}
				{{#if @first}}
						<section class="content">
				{{else}}
						<section class="content work-content">
				{{/if}}
					<div class="row small-fullwidth-row">
						<div class="content-cat big-text">
							{{#if @first}}
									<h3>Open Source</h3>
							{{/if}}

							{{#if startDate}}
								{{#if endDate}}
									<p><span class="no-nl">{{startDate}}</span> to <span class="no-nl">{{endDate}}</span></p>
								{{else}}
									<p><span class="no-nl">{{startDate}}</span> to <span class="no-nl">Present</span></p>
								{{/if}}
							{{/if}}

						</div>
						<div class="content-text work-listing education-listing">
								{{#if (and name role)}}
									{{#if @first}}
										<p class="small-center">
										{{else}}
										<p class="small-center">
									{{/if}}
									{{#if website}}
										<strong>{{role}}</strong> <span class="no-nl">of <strong><a href="{{website}}" rel="noopener">{{name}}</a></strong></span>
									{{else}}
										<strong>{{role}}</strong> <span class="no-nl">of <strong>{{name}}</strong></span>
									{{/if}}
									</p>
								{{/if}}

								{{#if summary}}
									<p>{{summary}}</p>
								{{/if}}

								{{#if highlights.length}}
									{{#each highlights}}
										<p class="highlight">{{.}}</p>
									{{/each}}
								{{/if}}


						</div>
					</div>
				</section>
				{{/each}}
			{{/if}}


			{{#if resume.volunteer.length}}
				{{#each resume.volunteer}}
				{{#if @first}}
						<section class="content">
				{{else}}
						<section class="content work-content">
				{{/if}}
					<div class="row small-fullwidth-row">
						<div class="content-cat big-text">
							{{#if @first}}
									<h3>Volunteer work</h3>
							{{/if}}

							{{#if startDate}}
								{{#if endDate}}
									<p><span class="no-nl">{{startDate}}</span> to <span class="no-nl">{{endDate}}</span></p>
								{{/if}}
							{{/if}}

						</div>
						<div class="content-text work-listing education-listing">
								{{#if (and organization position)}}
								{{#if @first}}
									<p class="small-center">
									{{else}}
									<p class="small-center">
								{{/if}}
										{{#if website}}
											<strong>{{position}}</strong> <span class="no-nl">at <strong><a href="{{website}}" rel="noopener">{{organization}}</a></strong></span>
										{{else}}
											<strong>{{position}}</strong> <span class="no-nl">at <strong>{{organization}}</strong></span>
										{{/if}}
									</p>
								{{/if}}

								{{#if summary}}
									<p>{{summary}}</p>
								{{/if}}

								{{#if highlights.length}}
									{{#each highlights}}
										<p class="highlight">{{.}}</p>
									{{/each}}
								{{/if}}


						</div>
					</div>
				</section>
				{{/each}}
			{{/if}}

			{{#if resume.skills.length}}
				<section class="content">
					<div>
						<h3>Skills</h3>
					</div>
					<div>
						{{#each resume.skills}}
							<p>
								{{#if name}}
									<span class="name">
										<strong>{{name}}</strong>
									</span>
									<span>{{#if level}}({{level}}){{/if}}:</span>
								{{/if}}
								{{#if keywords.length}}
									{{#commalist keywords}}{{.}}{{/commalist}}
								{{/if}}
							</p>
						{{/each}}
					</div>
				</section>
			{{/if}}

			{{#if resume.interests.length}}
				<section class="content">
					<div class="row">
						<div class="content-cat">
							<h3>Interests</h3>
						</div>
						<div class="content-text skills-listing">
							{{#each resume.interests}}
								<p>
								<span class="name">
								{{#if name}}
									<strong>
										{{name}}:
									</strong>
								{{/if}}
								</span>
									{{#if keywords.length}}
										{{#commalist keywords}}{{.}}{{/commalist}}
									{{/if}}
								</p>
							{{/each}}
						</div>
					</div>
				</section>
			{{/if}}

			<!-- PROJECTS -->
			{{#if resume.projects.length}}
				<section class="content">
					<div>
						<h3>Recent projects</h3>
					</div>
				</section>
				{{#each resume.projects}}
					<section class="project">
						<div>
							<div class="project-badge">
								<img src="{{logo}}" alt="{{name}}" />
								<a href="{{website}}">{{website}}</a>
								<p class="dates">
									<span>{{startDate}}</span>
									to
									<span>{{#if endDate}}{{endDate}}{{else}}Present{{/if}}</span>
								</p>
							</div>
							<h4>{{name}}</h4>
							<p>{{description}}</p>
						</div>
						<ul>
							{{#each milestones}}
								<li>{{.}}</li>
							{{/each}}
						</ul>
						<p class="techstack">Tech stack: {{technologies}}</p>
					</section>
				{{/each}}
			{{/if}}
		</article>
	</body>
</html>
